body {
    font-family: 'Montserrat', sans-serif;
}


body * {
margin: 0;
padding: 0;
border: 0;
}

/*navbar*/

.barra-nav {
    background-color: rgba(0,0 0, 20);
}

.nav-link a{
    font-size: 8pt;
}

.navbar-brand {
    color: #ffffff;
}
/*fin del navbar*/

/*hero-section*/
.hero-section {
background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section h1{
    text-align: center;
}

h1 {
    font-weight: 700!important;
    
}

/*Footer*/

.derechos {
    background-color: rgba(0,0 0, 20);
    color: #ffffff;
    font-size: 9pt;
    height: 50px;
}

.iconos {
    color: #ffffff;
    margin-left: auto;
}

footer h4 i {
    display: inline-block;
}

