body * {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
border: 0;
}

html {
    scroll-behavior: smooth;
}
/*navbar*/

.barra-nav {
    background-color: rgba(0,0 0, 20);
}

.nav-link a{
    font-size: 8pt;
}

.navbar-brand {
    color: #ffffff;
}

#navbarSupportedContent{
    background-color: black;
 
}
.nav-link{
   transition: 0.4s;
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
   padding: 0 10px;
   margin: 0 10px;
 
}
.nav-link:hover{
 
   background-color: #F2CC5A;
   color: #000000!important;
   padding: 7px 10px;
}


/*fin del navbar*/

/*hero-section*/

.separador {
    height: 50px;
}

.hero-section {
 background-image: url('../img/foto.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 500px;
 font-family: 'Montserrat'
}

.hero-section h1{
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.hero-section h3 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 300px;
}

/*fin hero-section*/

.foto-perfil {
    width:auto;
    height:400px;
    border-radius:150px;
    margin: 0 auto;
}

.titulo-exp-2 {
    padding-bottom: 30px;
    font-weight: 700!important;
    padding-top: 0!important;
    text-align: center;
}

.carolina {
    padding-bottom: 30px;
    text-align: center;
}

.soy {
    padding-top: 25px;
}

/*herramientas*/

.iconos-individuales img{
   margin: 0px 20px 30px 20px;
}

.iconos-grupos {
    padding-bottom: 75px;
}
/*exp*/

.exp .container {
    margin: 0;
    width: 100%;
}

.holi {
    width: 200px;
}

.titulo-exp {
    padding-bottom: 70px;
    padding-top: 100px;
}

.negrita {
    font-weight: 700;
}

#experiencia {
    padding-bottom: 60px;
}

ul li {
    list-style: none;
}

.columnas {
    padding-bottom: 70px;
}

.icono-vector {
    width: 14%;
}


/*portafolio*/

#portfolio .container-fluid {
    max-width: 1920px;
 }
  
 #portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}
  
 #portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.25s ease;
    text-align: center;
}
  
 #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
 }
  
 #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
 }
  
 #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
 }
 
 /*fin portafolio*/

/*Footer*/

.derechos {
    background-color: rgba(0,0 0, 20);
    color: #ffffff;
    font-size: 8pt;
    height: 50px;
    margin-bottom: 0;
    text-align: center;
}

.iconos {
    color: #ffffff;
    margin-left: auto;
    text-align: center;
    padding:30px 0px 20px 0px;
}

.iconos a {
    color: #ffffff;
}

.iconos i {
    padding-left: 7px;
    padding-right: 7px;
}



/* icono navbar animado*/

.animated-icon1, .animated-icon2, .animated-icon3 {

    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
     
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #F2CC5A;
    
    }
    
    .animated-icon2 span {
    background: #F2CC5A;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }

@media (min-width: 992px) {
 
    .iconos-individuales {
        max-width: 50%;
    }

}

 



