body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;

}

.fondo-navbar {
    background-color:#e83e8c;

}


.icono-menu {
    color: #FFFFFF80;
}

.navbar-toggler, .navbar-toggler-icon, .navbar-light {
    border-color: #FFFFFF80!important;
    color: #FFFFFF80!important;
}

header {
    padding: 1em;
    clear: left;
    text-align: center;
    font-size: 60px;
    
}
#navbarTogglerDemo01 a{
    color: #ffffff;
}
h1 {
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    padding: 30;
}

.separacion {
    height: 64.24px;
}

.separacion22 {
    height: 64.24px;
}

.x {
    margin: 0px auto;
}

.footer-celeste {
    background-color: #17a2b8!important;
    width: 100%;
    height: 184px;
    text-align: center;
    
}

footer h2 {
    
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-weight:bold;
    padding-bottom: 13px;    
}

.iconos-tarjetas {
    
    color: #FFFFFF;
    display: inline;
    padding-left: 46px;
        
}


.footer-celeste {
    display: inline-block;
    padding-top: 50px;

}
.footer-rosa {
    width: 100%;
    height: 184px;
    padding-top: 2rem;
}

.footer-rosa img {
    top: 1407px;
    left: 627px;
    width: 53.32px;
    height: 100.45px;
    display: block;
    margin: auto;
    
       
}

.fab{
    color: #FFFFFF;
    padding-left: 28px;
}


/*@media (min-widht 57px) >>> que a los que tienen esa medida minima 
    .clase  >>> la clase donde esta el col con las medidas 
         img que 

/@media (max-widht 768px) >>> maximo de esa nedida

- el ejemplo:

.caja
    medidas
    background-img

/@media (mas-wight 768px) >>> a esta medida va a cambiar
    .caja
        background-img

